{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livros</title>
    <link rel="stylesheet" href="{% static 'book/css/style_all_books.css' %}">
</head>

<body>

    <nav class="navbar">
        <a href="{% url 'home' %}" class="navbar-brand">Review Livros</a>

        <div class="navbar-links">
            <a href="{% url 'search_book' %}" class="nav-item">🔍 Buscar Livro</a>

            {% if user.is_authenticated %}
                <span class="user-welcome">Olá, {{ user.username }}</span>
                
                <a href="{% url 'perfil' %}" class="nav-item">Meu Perfil</a>
                
                <form action="{% url 'logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="nav-item btn-logout" style="border:none; cursor:pointer;">Sair</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}" class="nav-item">Entrar</a>
                <a href="#" class="nav-item">Cadastrar</a>
            {% endif %}
        </div>
    </nav>

    <h1>Lista de Livros</h1>
    
    <div class="book-list">
        {% for book in books %}

        <a href="{% url 'detalhes' book.id %}" class="card-link">

            <div class="book-item" id="book-{{ book.id }}">
                <h2>{{ book.titulo }}</h2>
                <p><strong>Autor:</strong> {{ book.autor }}</p>
                <p><strong>Editora:</strong> {{ book.editora }}</p>
                <p><strong>Ano de Publicação:</strong> {{ book.ano_publicacao }}</p>

                <p><strong>Resumo:</strong> {{ book.resumo|truncatewords:20 }}</p>
            </div>

        </a>

        {% empty %}
        <p style="text-align: center;">Nenhum livro cadastrado.</p>
        {% endfor %}
    </div>
    
    <div class="search-books-link">
        <a href="{% url 'search_book' %}">
            🔍 Ir para a Página de Busca
        </a>
    </div>
</body>

</html>